*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    height: 500px;
    width: 500px;
    background-color: black;
    padding: 5px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.first{
    background-color: rgb(255, 206, 214);
}

.second{
    background-color: rgb(244, 108, 131);
}

.third{
    background-color: rgb(244, 49, 82);
}

.fourth{
    background-color: rgb(241, 8, 47);
}