* {
    margin: 0%;
    padding: 0%;

}

h3 {

    color: #fff;
    background-color: #2D69FA;
    align-items: center;
    padding: 10px;
    text-align: center;

}

nav {
    background-color: #FFFFFF;
    padding: 7px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;

}

.tool {
    color: #ffffff;
    

}

.tool a{
text-decoration: none;
font-size: 30px;
justify-content: space-between;
}

section {
    height: 100vh;
    padding-top: 19vh;
    background-color: #F8EBF2;
    display: flex;
    gap: 20px;
}



section h1 {
    font-size: 6rem;
    width: 50%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 100px;

}

section img {
    width: 50%;
    height: 70%;
    padding: 50px;
}
.section1{
    height: 80%;
    width: 20%;
    border-top: 3px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card{
    width:auto ;
    height: 60px;
}

.card img{
    height: 400px;
    padding: 30px;
    width: auto;
}