*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #e8e8e8;
}

.top-banner{
    background: linear-gradient(to right, #0d6cd8,#6e36e7);
    color: #e8e8e8;
    text-align: center;
    padding: 12px;
    font-size: 15px;
}

.navbar{
    height: 80px;
    background: #dfe5ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo{
    font-size: 40px;
    font-weight: bold;
    color: #444;
}

.nav-right{
    display: flex;
    gap: 15px;
}

.search-btn{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: #e0f70d;
    cursor: pointer;
}

.start-btn{
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    background: #0779f3;
    color: #e8e8e8;
    font-weight: bold;
    cursor: pointer;
}

.hero{
    width: 1400px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
}

.left{
    background: #efc19f;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.text-box{
    font-size: 78px;
    line-height: 0.96;
    font-weight: 900;
}

.text-box h1{
    font-size: 78px;
    line-height: 0.96;
    font-weight: 900;
}

.right{
    background: #9eb28f;
    position: relative;
    overflow: hidden ;
}

.circle{
    position: absolute;
    height: 450px;
    width: 450px;
    border: 3px solid #2684b7;
    border-radius: 50%;
    top: 70px;
    left: 120px;
}

.card{
    position: absolute;
    color: #e8e8e8;
    border-radius: 12px;
    padding: 30px;
    width: 180px;
    text-align: center;
    box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.15);
}

.card h2{
    font-size: 60px;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    font-weight: 600;
}

.card1{
    background: linear-gradient(#439df1,#197de8);
    top: 140px;
    left: 30px;
}

.card2{
    background: linear-gradient(#224dbb,#0c38b3);
    top: 200px;
    left: 30px;
}

.card3{
    background: linear-gradient(#16dbc8,#03a295);
    top: 60px;
    left: 160px;
}

.avatar{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #dfe5ff;
    overflow: hidden;
}

.avatar1{
    top: 30px;
    right: 140px;
    background: url(https://plus.unsplash.com/premium_photo-1780768331673-3cd1f1d89a01?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)center/cover;
}

.avatar2{
    top: 70px;
    right: 170px;
    background: url(https://plus.unsplash.com/premium_photo-1780768331673-3cd1f1d89a01?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)center/cover;
}